{% extends 'layouts/base.html' %}

{% block title %}Cuts{% endblock %}
{% block meta_description %}Cuts - Administration Page.{% endblock %}

{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1>Astrolabe Image Server</h1>
      <h3 class="text-muted">
        Administration pages for the Astrolabe image and cutout server.
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-image text-primary"></i>
        <h2>List Image Paths</h2>
        <p class="text-muted">List all image paths from the local repository.</p>
        <p>
          <a href="{{ url_for('img.list_image_paths') }}" class="btn btn-default">List Image Paths</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-cut text-primary"></i>
        <h2>List Cutouts</h2>
        <p class="text-muted">List existing cutouts in the local cache.</p>
        <p>
          <a href="{{ url_for('img.co_list') }}" class="btn btn-default">List Cutouts</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-table text-primary"></i>
        <h2>List Collections</h2>
        <p class="text-muted">List all image collections in the local repository.</p>
        <p>
          <a href="{{ url_for('img.list_collections') }}" class="btn btn-default">List Collections</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-table text-primary"></i>
        <h2>List Filters</h2>
        <p class="text-muted">List all image filters in the local repository.</p>
        <p>
          <a href="{{ url_for('img.list_filters') }}" class="btn btn-default">List Filters</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
