Flask==2.0.2

# may need to specify exact version to avoid bugs/conflicts
# previous: werkzeug==0.16.1
werkzeug==2.0.2

# Application server for both development and production.
gunicorn==20.1.0
gevent==21.8.0
greenlet==1.1.2

# Data and workers.
redis==4.0.2
celery==5.2.3

# astrocut==0.7
astropy==5.0
numpy==1.21.4

# Database
psycopg2-binary==2.9.2

# Testing
pytest==6.2.5
pytest-cov==3.0.0

# Extensions
flask-debugtoolbar==0.11.0
